@import "tailwindcss";

@utility section-min-height {
	min-height: calc(100vh - 68px);
}

@utility features-height {
	height: calc(100vh * 0.67);
}

@utility dark-deep-blue {
	background-color: #1B3A57;
}
